@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300|Open+Sans:300');

body {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: #354851;
  color: white;
  font-family: 'Open Sans', monospace;
}

a {
  color: inherit;
}

.main-title {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 250%;
  color: white;
}

.navcurr {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-style: none;
  font-family: inherit;
  font-size: 120%;
  background-color: rgba(255,255,255,0.1);
  color: white;
}

.navbutton {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-style: none;
  font-family: inherit;
  font-size: 120%;
  background-color: rgba(0,0,0,0);
  color: white;
}

.navbutton:not(:first-child) {
  border-left: 1px solid rgba(0,0,0,0);
}

.navbutton:hover {
  background-color: rgba(255,255,255,0.2);
}

.navbutton:active {
  background-color: rgba(255,255,255,0.3);
}

button:focus {
  outline: 0;
}

.textbox {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 10px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFFCC;
  padding: 0.8em 1.6em;
}

.bio {
  width: 75%;
  font-size: 100%;
}

.linkfield {
  width: 90%;
  font-size: 90%;
}

.content {
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.navbar {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0,0,0,0.45);
  font-family: 'Open Sans', monospace;
  font-size: 100%;
  color: black;
}

.subheader {
  padding-left: 1em;
  margin-top: 1em;
  margin-bottom: -0.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: white;
}

.block {
  padding-left: 1.6em;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

ul.align-left-list {
  padding-left: 0;
}

ul li {
  list-style: none;
}

ul li {
  font-size: 125%;
}

ul li li {
  font-size: 80%;
}

ul li li:before {
  content: "\0BB \020";
}
